google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0

gspread
oauth2client
tabulate~=0.8.9
humanize
git+ssh://git@github.com/szilard-nemeth/python-commons.git
setuptools~=54.1.2
httplib2
uritemplate